In [ ]:
##Look at the Seattle weather in the data folder. 
##Come up with a heuristic model to predict if it will rain today.
##Keep in mind this is a time series, which means that you only know what happened historically (before a given date).
##One example of a heuristic model is: It will rain tomorrow if it rained more than 1 inch (>1.0 PRCP) today.
##Describe your heuristic model in the next cell.

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_4_ML/data/seattle_weather_1948-2017.csv')

numrows = 25549

In [3]:
heuristic_df = pd.DataFrame({'yesterday':[0.0]*numrows,
                             'today':[0.0]*numrows,
                             'tomorrow':[0.0]*numrows,
                             'guess':[False]*numrows, #logical guess
                             'rain_tomorrow':[False]*numrows, #historical observation
                             'correct':[False]*numrows}) #TRUE if your guess matches the historical observation

seq = ['yesterday','today','tomorrow','guess','rain_tomorrow','correct']
heuristic_df = heuristic_df.reindex(columns=seq)
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [4]:
heuristic_df.head()

   yesterday  today  tomorrow  guess  rain_tomorrow  correct
0        0.0    0.0       0.0  False          False    False
1        0.0    0.0       0.0  False          False    False
2        0.0    0.0       0.0  False          False    False
3        0.0    0.0       0.0  False          False    False
4        0.0    0.0       0.0  False          False    False

In [9]:
for z in range(numrows):
    i = z + 2
    yesterday = df.iloc[(i-2),1]
    today = df.iloc[(i-1),1]
    tomorrow = df.iloc[i,1]
    rain_tomorrow = df.iloc[(i),1]
    
    heuristic_df.iat[z,0] = yesterday
    heuristic_df.iat[z,1] = today
    heuristic_df.iat[z,2] = tomorrow
    heuristic_df.iat[z,3] = False 
    heuristic_df.iat[z,4] = rain_tomorrow
    
    
    if heuristic_df.iat[z,1]>0.0 and heuristic_df.iat[z,0]>0.0:
        heuristic_df.iat[z,3] = True 
    
    
    if heuristic_df.iat[z,3] == heuristic_df.iat[z,4]:
        heuristic_df.iat[z,5] = True
    else:
        heuristic_df.iat[z,5] = False

In [10]:
heuristic_df

       yesterday  today  tomorrow  guess  rain_tomorrow  correct
0           0.47   0.59      0.42   True           True     True
1           0.59   0.42      0.31   True           True     True
2           0.42   0.31      0.17   True           True     True
3           0.31   0.17      0.44   True           True     True
4           0.17   0.44      0.41   True           True     True
...          ...    ...       ...    ...            ...      ...
25544       0.00   0.00      0.00  False          False     True
25545       0.00   0.00      0.00  False          False     True
25546       0.00   0.00      0.00  False          False     True
25547       0.00   0.00      0.00  False          False     True
25548       0.00   0.00      0.00  False          False     True

[25549 rows x 6 columns]

In [12]:
predec=heuristic_df['correct'].value_counts()/numrows
print(predec*100 , "%")

True     67.161141
False    32.838859
Name: correct, dtype: float64 %